/*Glolbal*/
body{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5;
}

ul{
    margin:0px;
    padding:0px;
}
.container{
    width:80%;
    margin:0px auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width:100%;
}

/*sub_title 欢迎来到川鹰官方网站*/
header .sub_title{
    background: gray;
    height:auto;
}

header #welcome{
    display: inline-block;
    width: 48%;
    color:white;
}

header ul li{
    display: inline-block;
    padding-right:10px;
   
}

header ul li a{
    color: white;
  
}

header ul{
    margin-top:15px;
}
header #contact{
    display: inline-block;
    width: 48%;
    text-align: right;
 
}

/*title logo 热线电话*/
header .title{
   clear: left;
}
header .title #logo{
    float:left;
}

header .title #hotline{
   float:right;
}

/*Nav in header*/
nav {
    clear: both;
}
nav ul li{
    display: inline-block;
    background:rgb(223, 223, 26);
    padding: 10px;
    width: 16%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

nav ul li.current-nav{
    background-color: red;
}

nav ul li a{
    color: white;
}

/*big_banner*/
img#big_banner{
    min-height: 200px;
}

/*about eagle*/
.about_eagle .container h2,.about_eagle .container h3{
    text-align: center;
}

p#below_about_us{
    text-align: center;
}

#banner_about_eagle{
    background-image: url('../images/banners/banner.jpg');
    background-position:center center;
    background-repeat: no-repeat;
    background-size:cover;
    /*background-attachment: fixed;*/
}

#banner_about_eagle .container{
    padding-top: 50px;
    padding-bottom:20px;
}

#banner_about_eagle .container .image_holder{
    display: inline-block;
    width:25%;
    margin-top:5px;
    margin-left:-4px;

    box-sizing: border-box;

    background-color: wheat;
    vertical-align: top;
    min-height: 200px;

    overflow: hidden;
    
}

#company_intro, #company_honor{
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
}

#company_intro {
    position: relative;
    float: left;
    width:60%;
    vertical-align: top;

    box-sizing: border-box;
}

#company_honor {
    position: relative;
    float: right;
    width: 40%;
    padding-top:10px;
    vertical-align: top;
 
    box-sizing: border-box;
}

#company_honor img{
    width: 100%;
    height: auto;
}
#company_intro .about_eagle_subblock{
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    margin:auto;
    border: solid 1px black;
    margin-left: 3px;
    border-radius: 10px;
    overflow: hidden;
}

#company_intro .about_eagle_subblock p{
    text-align: center;
}

/*product-eagle*/
.product_eagle .container h2, .product_eagle .container h3{
    text-align: center;
    clear: both;
}

.product_eagle #catalog{
    display: inline-block;
    width: 14%;
    box-sizing: border-box;
    margin-right: 3px;
    text-align: center;
    vertical-align: top;
}

.product_eagle #catalog .catalog_title{
    height:60px;
    background-color: blue;
    color: white;
}

.product_eagle #catalog .catalog_title p{
    padding-top: 18px;
}
.product_eagle #catalog li{
    padding-top:10px;
    height: 25px;
    background-color: gray;
    margin-top:1px;
    color: white;
}
.product_eagle #image_groups{
    padding: 10px;
    display: inline-block;
    width: 85%;
    box-sizing: border-box;
    vertical-align: top;
}

.product_eagle #image_groups .image_sample{
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    vertical-align: top;
    overflow: hidden;
    height: 150px;
    border: 1px black dotted;
    margin-top:8px;
    background-image: url('../images/imageSamples/image_sample.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}


/*product-eagle*/
.news_eagle  h2,.news_eagle h3{
    text-align: center;
}

#news_products, #news_image_groups{
    display:inline-block;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top; 
    margin-left: 1px;
    height: 800px;
    min-height: 600px;
    max-width: 1000px;
}

#news_image_background{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/news_images/news_pic_sample2.png');
    background-position: center center;
    z-index: 0;
    height: 100%;
}

#opacity_background{
    background-color:rgba(0,0,0,0.5);
    z-index:10;
    height: 100%;
    background-position: center center;
}

#news_products .news_product_image{
    display: inline-block;
    width: 29%;
    vertical-align: top;
    height: 100%;
}

#news_products .news_product_intro{
    display: inline-block;
    width: 60%;
    vertical-align: top;

    height: 100%;
}

#news_products .news_product_intro p{
    margin:0px;
    padding-top: 0px; 
    padding-left:3px;
    padding-bottom: 5px;

}

#news_image_groups .news_image_group{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    height: 250px;
    text-align: center;
}

#news_image_groups .news_image_group p{
    padding-top:20px;
    color:white; 
    padding-left: 40px;
    padding-right:40px;
}

#news_image_groups .news_image_group a{
   border: solid white 1px;
    color: white;
    padding:20px 30px;
    margin-top:30px;
}
#check_detail1{
    height: 100px;
    border: solid white 1px;
    color: white;
    z-index: 20;
}
#news_eagle img{
    width: 100%;
    height: 100%;
}


/*footer*/
footer{
    background-color: gray;
}
footer #sub_footer .container .footer_catalog{
    display: inline-block;
    box-sizing: border-box;
    width: 18%;
    vertical-align: top;

}

footer #sub_footer .container .footer_catalog p{
    color:white;
    font-size: 20px;
}

footer #sub_footer .container .footer_catalog a{
    text-decoration: none;
    color:white;

}

footer .copy_right{
    background-color: dimgray;
}

footer .copy_right #copy_right_company{
    display: inline-block;
    width: 50%;
    
}

footer .copy_right #copy_right_tech_supporter{
    display: inline-block;
    width:49%;
    text-align: right;
    
}
@media(max-width:768px){
    .container{
        padding: 10px;
        width: 49%;
    }
}
