/*Glolbal*/
body{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5;
}

ul{
    margin:0px;
    padding:0px;
}
.container{
    padding: 10px;
    width:60%;
    margin:auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*sub_title 欢迎来到川鹰官方网站*/
header .sub_title{
    width: 100%;
    background: gray;
}

header #welcome{
    width: 240px;
    float: left;
}

header ul li{
    display: inline-block;
    padding-right:10px;
}

header ul{
    margin-top:15px;
}
header #contact{
    width: 150px;
    float:right;
}

/*title logo 热线电话*/
header .title{
   clear: left;
}
header .title #logo{
    float:left;
}

header .title #hotline{
   float:right;
}

/*Nav in header*/
nav {
    clear: both;
}
nav ul li{
    display: inline-block;
    background: greenyellow;
    padding: 10px;
    width: 16%;
    box-sizing: border-box;
    text-align: center;
}






@media(max-width:768px){
    .container{
        padding: 10px;
        width: 100%;
    }
}

